@charset "utf8";

header {
    width: 100%;
}
.hide_list {
    display: none;
}

.header_top {
    border-bottom: 1px solid #c1c1c1;
    
}
.red {
    color:#ef544d !important;
}
.font_14 {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

.container {
    margin: 0 auto;
    width: 980px;
    display:flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}

.header_top_left li {
    float: left;
    padding: 10px;
    border: 1px solid #c1c1c1;
    margin: -1px 0;
}

.header_top_left li a {
    color: #000;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}

.header_top_right li {
    height: 10px;
    line-height: 5px;
    float: left;
    margin-right: 5px;
    padding-right: 5px;
    border-right: 1.5px solid #c1c1c1;
}

.header_top_right li:last-child {
    border:none;
}
.header_top_right li a {
    color: #000;
    text-decoration: none;
    font-size: 11px;
}

.header_center {
    display: flex;
    justify-content: space-around;
    text-align: center;
    height: 101px;
    border-bottom: solid 2.5px rgb(44, 44, 44);
}

.header_center_top {
    border-bottom: 2.5px solid #ef544d;
    display: flex;
    justify-content: space-between;
    width: 420px;
}
.header_center_top input {
    width: 300px;
    height: 8px;
    border: none;
    font-size: 13px;
    padding:7px;
    margin-left: 10px;
}

.header_center_top i {
    color: #ef544d;
    font-size: 25px;
}
.header-center-footer {
    margin: 15px;
}

.header-center-footer li {
    float: left;
    height: 10px;
    line-height: 5px;
    float: left;
    font-size: 12px;
    margin-right: 5px;
    padding-right: 5px;
    border-right: 1.5px solid #00adef;
}

.header-center-footer li:last-child {
    border:none;
}
.header-center-footer li a {
    color: #00adef;
    text-decoration: none;
}

.header_bottom {
    background-color: #ef544d;
}

.nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-bars{
    margin-right: 8px;
    font-size:15px
}
.header_nav_all{
    background-color: #c43730;
    position: relative;
    height: 29px;
    top:0;
    cursor: pointer;
}
.line {
    line-height: 30px;
}

.header_nav_all:hover {
    background-color: #7c241f;
}

.header_nav_all:hover .font_14{
    color:#fff1a2;
}
.header_nav_all_sub{
    position: absolute;
    display: none;
    width: 976px;
    top: 43px;
    left: 0;
    background-color: #fff;
    z-index: 5;
    border: 2px solid #c43730;
}
.all_nav {
    width: 18.46%;
    float: left;
    border-right: 1px solid #e5e5e5;
}
.nav_name {
    font-weight: bold;
    font-size: 14px;
    color: #3c3c3c;
}
.all_nav ul {
}
.all_nav ul li {
    float: initial;
}
.all_nav ul li a {
    color: #666;
    font-size: 12px;

}

.header_bottom_two{
    display: inline-block;
    position: relative;
    top: -1px;
}
.header_bottom_two li{
    padding:7px;
    float: left;
}
.header_bottom_two li{
    display: block;
    padding:7px;
    color: #ffffff;
}
.header_bottom_three{
    display: inline-block;
}
.header_bottom_three li{
    padding:7px 10px;
    float: left;
}

.header_bottom_three li a{
    display: block;
    padding:7px;
    color: #fff1a2;
}

.header_bottom_three li:last-child {
    background: no-repeat url(../images/bg_headerBookdb.png);
    background-position: center;
}

.sub_color {
    color: #f15300;
}

.banner {
    width: 100%;
}

.banner_slide_wrap{
    position: relative;
    margin: 0 auto;
    height: 316px;
    width: 980px;
    overflow: hidden;
    border-bottom: 1px solid #000;
}

.banner_slide {
    width: 4560px;
    position: absolute;
    
}
.banner_slide li {
    float: left;
}
.slide_left {
    left: 20px;
}
.slide_right{
    right: 243px;
}
.slide_btn {
    position: absolute;
    top: 120px;
    display: none;
}

.slide_btn i {
    transition: 0.5s;
}

.slide_btn i {
    font-size: 50px;
    color: rgba(0, 0, 0, 0.103);
}

.slide_btn i:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.548);
}
.banner_slide_wrap:hover .slide_btn {
    display: inline;
} 

/*베스트셀러 시작*/

.banner_best {
    position: absolute;
    top: 0;
    left: 490px;
    z-index: 3;
    width: 220px;
    height: 316px;
    margin-left: 270px;
    background-color: rgb(165, 165, 165);
    color: #fff;
}

.banner_best_title {
    border-bottom: 1px solid rgba(27, 27, 27, 0.4);
    
}

.banner_best_title_inside {
    padding: 8px 15px;
    color: #fff1a2;
    border:1px solid rgba(255, 255, 255, 0.3);
    border-right-color: rgba(104, 104, 104, 0.3);
    font-weight: bold;
}

.day {
    display:flex;
}

.day li {
    padding: 3px 0;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    width: 50%;
    height: 23px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(27, 27, 27, 0.2);
    border-bottom: 1px solid rgba(27, 27, 27, 0.2);
    cursor: pointer;
}

.day li:first-child {
    border-bottom: none;
    z-index: 3;
    background-color: rgb(165, 165, 165);
}
.day_border {
    content: "";
    position: absolute;
    top: 66px;
    width: 50%;
    height: 1px;
    background: #fff;
    opacity: .3;
    right: 0;
}
/* 
.day li::before {
    content: "";
    position: absolute;
    top: 66px;
    width: 50%;
    height: 1px;
    background: #fff;
    opacity: .3;
}
#btnBestToday::before {
    left: 0;
    display: none;
}
#btnBestWeek::before {
    
} */

.best_list_wrap {
    width: 100%;
    height: 100%;
}


.best_list{
    width: 100%;
    height: 100%;
    border-right-color: rgba(104, 104, 104, 0.3);
    padding: 10px 10px;
}
.best_list li {
    margin: 5.5px 0;
}
.lank-form{
    display: inline;
}
.lank{
    margin-right: 5px;
    font-size: 12px;
    font-weight: bold;
    width: 15px;
    text-align: right;
    display: inline-block;
}
.lank_updownCnt{
    margin: 0 2px;
    font-size: 11px;
}
.lank-text{
    width: 147px;
    font-size: 12px;
    display: inline-block;
    letter-spacing:-0.5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.lank-text:hover{
    text-decoration: underline;
    cursor: pointer;
}

/* event 부분*/

.banner_event {
    background-color: #f7f7f7;
    width: 100%;
    height: 47px;
    left:0;
}
.event_slide_wrap {
    width: 980px;
    margin: 0 auto;
}

.event_slide_list_form {
    width:190px;
    float: left;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
}

.event_slide_list_form:hover {
    border-top: 3px solid #ef544d;
    height: 42px;
    line-height: 40px;
}

.fa-caret-up {
    font-size: 11px;
    color: rgb(224, 28, 28);
}

.fa-caret-down {
    font-size: 11px;
    color: rgb(30, 30, 204);
}
.fa-minus{
    color:rgb(104, 104, 104);
    font-size: 10px;
    margin-right: 10px;
}

.evnet_slide_num_form {
    position: relative;
    top: -80px;
    left: 0;
    width: 300px;
    display: none;
}

.event_slide_list_form:hover .evnet_slide_num_form{
    display: block;
    top: -78px;
}

.evnet_slide_num_form li {
    margin-right: 8px;
    width: 10px;
    height: 10px;
    float: left;
    padding: 7px;
    background-color: rgba(54, 54, 54, 0.548);
    font-size: 12px;
    color: #fff;
    line-height: 10px;
}

.evnet_slide_num_form li:hover {
    cursor: pointer;
    background-color: rgb(54, 54, 54);
}

/*event 끝*/

.welcome_img_form {
    width: 980px;
    display:flex;
    justify-content: space-between;
}

.welcome_img_form img {
    margin: 45px 0;
}

/*section3*/
.recommended_books_wrap {
    position: relative;

}
.recommended_header_img{
    width: 158.99;
    height: 25px;
    position: absolute;
    top: -13px;
    left: 36%;
    background-color: #fff;
    z-index: 3;
}
.view_more {
    position: absolute;
    top: -16px;
    right: 0;
    font-size: 12px;
    color: #666;
    cursor: pointer;
}
.view_more:hover span {
    text-decoration: underline;
}
.recommended_books_form {
    position: relative;
    width: 640px;
    height: 248px;
    padding: 38px 50px 22px 55px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #eee;
    overflow: hidden;
}
.books {
    width: 3936px;
}
.book {
    float: left;
    display: flex;
    
}
.book_img_form {
    position: relative;
}
.book_recommend_img {
    position: absolute;
    top: -12px;
}
.book_img {
    margin: 0 auto;
    width: 155px;
    height: 222px;
}
.book_info {
    margin-top: 50px;
    padding-left: 40px;
    padding-right: 30px;
}
.star_form {
    position: relative;
    width: 100%;
}
.star_back {
    display: inline-block;
    width: 85px;
    height: 15px;
    background: url(../images/img_star.png);
}
.star {
    position: absolute;
    width: 85px;
    height: 15px;
    top: 2px;
    left: 0;
    background: url(../images/img_star.png);
    background-position-y: 15.5px;
}
.star_form em {
    font-weight: bold;
    color: #ef544d;
    font-size: 20px;
    margin-bottom: 5px;
}
.book_info strong {
    font-weight: bold;
    font-size: 16px;
    line-height: 35px;
}
.book_info p {
    font-size: 12px;
    margin-top: 19px;
    padding: 10px 15px 10px;
    width: 250px;
    height: 76px;
    background-color: #f7f7f7;
    line-height: 19px;
    color: #444;
}
.books_slide_btn {
    color: #666;
    cursor: pointer;
    font-size: 25px;
    position: absolute;
    top: 120px;
    opacity: .8;
    
}
#books_slide {
    float: left;
    width: 3936px;
}
#books_slide.on1 {
    left: 0px;
}

#books_slide.on2 {
    left: -505px;
}

#books_slide.on3 {
    left: -1010px;
}
.recommended_books_left {
    left: 0;
}

.recommended_books_right {
    right: 0;
}
.books_slide_btn:hover {
    color: #c43730;
}

.trend_issue_wrap {
    position: relative;
    right: 0;
    top: -9px;
}
.trend_issue_header_form {
    padding-bottom: 3px;
}
.trend_issue_header_form h3 {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}
.trend_issue_header_form h3 span {
    font-weight: lighter;
}
.trend_issue_img_form {
    cursor: pointer;
    border-top: 1px solid #000;
    background: #f7f7f7;
    height: 308px;
}

/* 섹션 4 시작 */
.adver_section_wrap {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.adver_section_form {
    display: flex;
    justify-content: space-between;
    height: 360px;
    margin-bottom: 10px;

}
.choice_form {
    width: 363px;
    height: 334px;
}

.border_val {
    border: 1px solid #dcdcdc;
    margin-top: 6px;
    display: flex;
    flex-direction: column;
}
.member_comment {
    background-color: #f9f9f9;
    height: 91px;
    padding: 10px 0 10px 25px;
    border-top: 1px solid #dcdcdc;
    margin: 0;
}
.member_comment_list {
    padding: 5px;
    display: flex;
    align-items: center;
}
.member_comment_list span {
    text-overflow: ellipsis;
    font-size: 13px;
    height: 32px;
    line-height: 32px;
    margin : 0 20px 0 10px;
    width: 50px;
}
.member_comment_list p {
    display: inline-block;
    font-weight: bold;
    font-size: 13px;
    height: 32px;
    line-height: 32px;
    color: #555;
}

.think_books_wrap {
    position: relative;
    width: 220px;
    height: 362px;
    overflow: hidden;
}
.think_books {
    width: 440px;
}
.think_books li {
    float: left;
}

.think_books_slide_btn {
    position: absolute;
    display: inline-block;
    top: 170px;
    color: #666;
    cursor: pointer;
    font-size: 25px;
    opacity: .8;
    padding: 0 10px;
}
#think_books_btn_left {
    left: 0;
}
#think_books_btn_right {
    right: 0;
}
.think_books_slide_btn:hover {
    color: #c43730;
}
.container .field_wrap{
    position: relative;
    margin-top : 50px;
    width: 100%;
    border-top : 1px solid #000;
}
.container .field_wrap .field-title-img {
    position: absolute;
    top: -13px;
    left: 50%;
    transform: translate(-50%, 0);
}
.field_menu {
    margin-top: 30px;
    width: 100%;
    height: 40px;
    text-align: center;
    border-bottom: 1px solid #eee;
}
.field_menu li {
    width: 14.2%;
    height: 40px;
    float: left;

}
.field_menu li a{
    position: relative;
    height: 40px;
    display: block;
    line-height: 40px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}
.field_menu li a i{
    position: absolute;
    color:#ef544d;
    bottom: -7px;
    left: 65px;
    display: none;
}
.field_menu li a:hover{
    color:#ef544d;
    border-bottom: 2px solid #ef544d;
}
.field_menu li a:hover i{
    display: block;
}
.field_list{
    margin-top : 20px;
}